[submodule "private/snippets"]
	path = private/snippets
	url = https://github.com/veracioux/snippets
[submodule "private/themes/dracula"]
	path = private/themes/dracula
	url = https://github.com/veracioux/dracula-emacs
